#editor {
    position: absolute;
    top: 25px;
    right: 0;
    bottom: 0;
    width: 85%;
    resize: horizontal;
}

#div-status {
    background: #AAA;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 25px;
}

#div-menu {
    position: absolute;
    left: 0;
    bottom: 0;
    top: 25px;
    width: 15%;
    padding-left: 5px;
}