        #editor { 
            position: fixed;
            top: 80px;
            right: 0;
            bottom: 30px;
            width: 80%;
        }
        #tree-menu {
            position: absolute;
            top: 50px;
            bottom: 30px;
            left: 0;
            width: 20%;
            overflow: auto;
            border-right: solid 1px white;
            font-size: 14px;
        }
        #menu {
            width: 100%;
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            border-bottom: solid 1px white;
            overflow: hidden;
            height: 50px;
        }
        #status {
            width: 100%;
            position: fixed;
            bottom: 0;
            left: 0;
            right: 0;
            height: 30px;
            border-top: solid 1px white;
            text-align: center;
        }
        #newFolder {
            padding: 10px;
            position: absolute;
            top: 50px;
            z-index: 50;
        }
        #newFile {
            padding: 10px;
            position: absolute;
            left: 130px;
            top: 50px;
            z-index: 50;
        }   
        #chmod {
            z-index: 51;
        }         
        #tabs {
            position: absolute;
            right: 0;
            left: 20%;
            top: 50px;
            height: 30px;
            border-bottom: solid 1px white;
            
        }
        .dark {
            background: #333;
            color: white;
        }
        .inl {
            white-space: nowrap;
        } 